{% extends 'Home/base.html.twig' %}

{% block title %}
	{% trans %}Newsletter dématarializée{% endtrans %}
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('newsletter_dematerialized') }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item">
		<a href="/">{% trans %}Accueil{% endtrans %}</a>
	</li>
	<li class="breadcrumb-item active">
		{% trans %}Newsletter dématarializée{% endtrans %}
	</li>
{% endblock %}

{% block body %}
	<div class="container-fluid" id="dematerialized-newsletter" data-dematerialized-newsletter-url="{{ url('newsletter_dematerialized') }}">
		<div class="row mt-3">
			<div class="col-2">
				{% include 'People/partials/people_filters.html.twig'
                    with {'form': dematerialized_newsletter_form, 'formId': 'dematerialized-newsletter-form'} %}
			</div>
			<div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5>Liste de diffusion de la newsletter dématarializée</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {% for person in people %}
                                {{ person.emailAddress }},
                            {% endfor %}
                        </p>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
