<form
      method="post"
      action="{{ path('donation_delete', {'id': donation.id}) }}"
      >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ donation.id) }}">
    <button type="submit" class="btn btn-danger" id="delete_button">
        <i class="ri-delete-bin-7-fill"></i>&nbsp;{% trans %}Supprimer{% endtrans %}
    </button>
</form>
