<!DOCTYPE html>

<title>New Donation</title>

{% block body %}
    <h1>Create new Donation</h1>

    {{ include('donation/_form.html.twig') }}

    <a href="{{ path('donation_index') }}">back to list</a>
{% endblock %}
