<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Reçu fiscal</title>
        {% if isFromController %}
            <!-- when called from a controller -->
            <link rel="stylesheet" href="css/library/bootstrap.min.css">
            <link rel="stylesheet" href="css/library/theme.min.css">
            <link rel="stylesheet" href="css/global.css">
            <link rel="stylesheet" href="css/PDF/receipt.css">
        {% else %}
            <!-- when called from a service in background -->
            <link rel="stylesheet" href="public/css/library/bootstrap.min.css">
            <link rel="stylesheet" href="public/css/library/theme.min.css">
            <link rel="stylesheet" href="public/css/global.css">
            <link rel="stylesheet" href="public/css/PDF/receipt.css">
        {% endif %}
    </head>
    <body>
        {% for index, receipt in receipts %}
            {% include 'PDF/Receipt/_tax_receipt.html.twig' with {
                'receipt': receipt,
                'receiptGenerationDate' : receiptGenerationDate
            } %}
        {% endfor %}
    </body>
</html>