{% extends 'Home/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        Accueil
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <p>Work in progress...</p>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
