###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> local files ###
path_mapping.ods
.env.local_for_dev
.env.local_for_test
server_start_dev.sh
server_start_test.sh
app/config/parameters.yml
public/css/library/Bootstrap
public/javascript/library/Bootstrap
public/javascript/library/jQuery
public/javascript/library/DataTables
public/javascript/library/Chart.js
public/javascript/library/Moment
public/javascript/library/Select2
public/images/uploads/
pdf/
###< local files ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> Netbeans config ###
/nbproject/private/
/nbproject/
###< Netbeans config ###

###> vscode config ###
.vscode/
structura.code-workspace
###< vscode config ###

###> phpstorm config ###
.idea
###< phpstorm config ###

###> yarn ###
.yarnrc.yml
.yarn/
###< yarn ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
