{% extends '@App/Home/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">
        Accueil
    </li>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue {{ app.user.username }} !</h1>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
