{% extends 'Home/base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">{% trans %}Erreur 403{% endtrans %}</h1>
      <p class="lead">{% trans %}Vous ne pouvez pas accéder à cette page.{% endtrans %}</p>
    <hr class="my-4">
    <p>{% trans %}Vérifiez qu'il n'y ait pas d'erreur dans l'URL.{% endtrans %}<br>
        {% trans %}Si l'URL rentrée est correcte, alors cela signifie que vos droits d'accès ne vous permettent pas de voir cette page.{% endtrans %} <br>
        {% trans %}Vous pouvez retourner à l'accueil ou à la page précédente pour poursuivre votre navigation.{% endtrans %}</p>
    <p class="lead">

    <br>
      <button type="button" class="btn btn-primary" data-dismiss="modal"  onclick="history.back(-1)">
          <i class="ri-arrow-left-line"></i>&nbsp;{% trans %}Retourner à la page précedente{% endtrans %}
      </button>

    </p>
  </div>
</div>
{% endblock %}
