{% extends 'Home/base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">{% trans %}Erreur 401{% endtrans %}</h1>
      <p class="lead">{% trans %}Authentification nécessaire.{% endtrans %}</p>

    <hr class="my-4">
    <br>
      <a class="btn btn-primary" data-dismiss="modal" href="/login">
          {% trans %}S'authentifier{% endtrans %}
      </a>
  </div>
</div>
{% endblock %}
