{% extends 'Home/base.html.twig' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">{% trans %}Erreur 500{% endtrans %}</h1>
      <p class="lead">{% trans %}Erreur interne du serveur.{% endtrans %}</p>
    <hr class="my-4">
    <p>{% trans %}Si l'erreur persiste, attendez quelques minutes avant de réessayer.{% endtrans %}<br>
    <br>
    <button type="button" class="btn btn-primary" data-dismiss="modal"  onclick="history.back(-1)">
        <i class="icon ion-md-arrow-back"></i>&nbsp;{% trans %}Retourner à la page précedente{% endtrans %}
    </button>

    </div>
</div>
{% endblock %}
