@import url(https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css);

body
{
    /* Avoid to hide content with footer */
    padding-bottom: 100px;
}
.modal-footer > .col
{
    padding-left: 0px;
    padding-right: 0px;
}

.column-action {
    width: 36px;
}

.alert
{
    border-radius: 0px;
}

/* Default theme of the DataTables */
.dataTables_wrapper > table
{
    border: 1px solid #ddd;
}
.dataTables_wrapper > table > thead > tr > th
{
    border: none;
}
.dataTables_wrapper > .datatable-header
{
    display: flex;
}
.dataTables_wrapper > .datatable-header > .datatable-filter
{
    flex-grow: 1;
}
.dataTables_wrapper > .datatable-header > .datatable-buttons
{
    flex-grow: 0;
}
.dataTables_wrapper > .datatable-header > .datatable-filter > div
{
    text-align: initial;
    height: 100%;
}
.dataTables_wrapper > .datatable-header > .datatable-filter > div > label
{
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}
.dataTables_wrapper > .datatable-header > .datatable-filter > div > label > input
{
    margin-left: 0;
    width: 100%;
    height: 100%;
    border-color: #ddd;
}
.dataTables_wrapper > .datatable-header > .datatable-filter > div > label > input::placeholder
{
    color: #bbb;
}
.dataTables_wrapper > .datatable-header > .datatable-buttons
{
    text-align: right;
}
.dataTables_wrapper > .datatable-header > .datatable-buttons > div > button
{
    margin-left: 10px;
}
.dataTables_wrapper > .datatable-footer > div > ul.pagination
{
    justify-content: center !important;
}
