@import url(https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css);

body
{
    /* Avoid to hide content with footer */
    padding-bottom: 100px;
}
.modal-footer > .col
{
    padding-left: 0px;
    padding-right: 0px;
}

.column-action {
    width: 36px;
}

.alert
{
    border-radius: 0px;
}

/* Default theme of the DataTables */
.dataTables_wrapper > .datatable-header
{
    display: flex;
}
.dataTables_wrapper > .datatable-header > div
{
    flex-grow: 1;
}
.dataTables_wrapper > .datatable-header > .datatable-filter > div
{
    text-align: initial;
}
.dataTables_wrapper > .datatable-header > .datatable-buttons
{
    text-align: right;
}
.dataTables_wrapper > .datatable-header > .datatable-buttons > div > button
{
    margin-left: 10px;
}
.dataTables_wrapper > .datatable-footer > div > ul.pagination
{
    justify-content: center !important;
}
