.custom-form-dropdown {
    background-color: #FFFFFF;
    border: solid 1px#ced4da;
    color: #495057 !important;
}

.border-dashed {
    border-style: dashed !important;
}

.payer-card {
    width: max-content;
    display: inline-block;
 }