/* Big buttons for main action in dashboard */
.huge-button {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: .95rem .75rem;
}

.huge-button > div > i {
    font-size: 3rem;
    line-height: 1;
}

/* Avoid tooltip break on disabled elements */
.tooltip-wrapper {
    display: inline-block;
}

/* Allow the opened row to take the full width */
.dtr-details {
    width: 100%;
}

/* Hide the generated title of an openened row */
table.dataTable > tbody > tr.child span.dtr-title {
    display: none;
}

/* Add specific cursor on openable rows */
table.dataTable[data-rows="openable"] > tbody > tr:not(.child-row),
table.dataTable[data-rows="openable"] > tbody > tr:not(.child-row) > td {
    cursor: pointer;
}

/* Animate transition color on openable rows */
table.dataTable[data-rows="openable"] > tbody > tr:not(.child-row) {
    transition-property: background-color color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

/* Setup hover color on openable rows */
table.dataTable[data-rows="openable"] > tbody > tr:not(.child-row):hover {
    background-color: #eee;
}

/* Setup hover color on openable rows */
table.dataTable[data-rows="openable"] > tbody > tr:not(.child-row).bg-secondary:hover {
    background-color: #e1aa1f !important;
}

/* Animate default transition color on stiped tables */
.table-striped tbody tr {
    transition-property: background-color color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.table-striped tbody tr:not(.child-row) {
    transition-property: background-color color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    color: #fff;
}

/* Background icon in ex member details child row */
i.ex-member-details-background-icon {
    font-size: 4.5rem;
}
