.styledtable{
    border-width: thin;
    border-style: solid;
    border-color: var(--secondary);
}
th{
    width: 33%;
}
.phone{
    width: 8em;
    display: block;
    word-wrap: break-word;
    columns: 5;
    column-gap: 0.2em;
}
