{% extends 'Home/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Administration
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Dashboard/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="flip-card" data-toggle="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="flip-card-icon">
                                <i class="icon ion-md-people"></i>
                            </div>
                            <h4>
                                Gestion des utilisateurices
                            </h4>
                            <p class="">
                                Tout ce qui concerne les comptes pouvant se connecter à l'application.
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-item">
                                <a class="" href="{{ path('user_list') }}">
                                    Liste des comptes
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-primary btn-block" href="{{ path('user_create') }}">
                                    Enregistrer un nouveau compte
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
