{% extends 'Home/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        <a href="{{ path('home') }}">{% trans %}Accueil{% endtrans %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans %}Administration{% endtrans %}
    </li>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Dashboard/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="flip-card" data-toggle="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="flip-card-icon">
                                <i class="icon ion-md-people"></i>
                            </div>
                            <h4>
                                {% trans %}Gestion des utilisateurices{% endtrans %}
                            </h4>
                            <p class="">
                                {% trans %}Tout ce qui concerne les comptes pouvant se connecter à l'application.{% endtrans %}
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <div class="flip-card-item">
                                <a class="" href="{{ path('user_list') }}">
                                    {% trans %}Liste des comptes{% endtrans %}
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-primary btn-block" href="{{ path('user_create', {from: 'dashboard'}) }}">
                                    {% trans %}Enregistrer un nouveau compte{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
