{% block body %}
    {% set show_membership = show_membership is defined ? show_membership : null %}
    {% set edit_membership = edit_membership is defined ? edit_membership : null %}

    <ul class="list-group">
        <a href="{{ path('membership_show', { 'id': membership.id }) }}"
           class="list-group-item list-group-item-action {{ show_membership }}"
           >
            {% trans %}Adhésion{% endtrans %}
        </a>
    </ul>
    <h4 class="mt-4">{% trans %}Édition{% endtrans %}</h4>
    <ul class="list-group">
        <a href="{{ path('membership_edit', { 'id': membership.id }) }}"
           class="list-group-item list-group-item-action {{ edit_membership }}"
           >
            <i class="icon ion-md-create"></i>&nbsp;{% trans %}Adhésion{% endtrans %}
        </a>
    </ul>
{% endblock %}
