<div class="col-md-6 mt-3 people-placeholder">
    <div class="border border-dashed p-3 h-100">
        <div class="row h-100">
            <div class="col-3">
                <img class="img-thumbnail" src="{{ asset('images/placeholder-personne.jpg') }}" alt="Profile photo placeholder">
            </div>
            <div class="col h-100 d-flex align-items-center justify-content-center">
                <span class="font-italic text-muted">{% trans %}Choisissez un autre membre{% endtrans %}</span>
            </div>
        </div>
    </div>
</div>